.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 40px 0px 0px;

  width: 60vw;
  height: 350px;

  background: #ffffff;
  /* Shadow 2 */

  box-shadow: 0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);
  border-radius: 14px;
}

.image {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.rightSide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
  padding-top: 1.5rem;
}

.courseName {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #000000;
  margin-bottom: 7px;
}

.batch {
  height: 21px;
  margin: 1rem 0;
  display: flex;
  font-weight: 600;
  gap: 1rem;
}
.batchEasy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding: 0 0.5rem;
  background: #639b6d;
  color: #ffffff;
  font-weight: 600;

  border-radius: 4px;
}
.batchMedium {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding: 0 0.5rem;
  background: #c4a24c;
  color: #ffffff;
  font-weight: 600;

  border-radius: 4px;
}
.batchHard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  padding: 0 0.5rem;
  background: #cb5b43;
  color: #ffffff;
  font-weight: 600;

  border-radius: 4px;
}

.insName {
  height: 21px;
  margin-bottom: 1rem;
}

.detail {
  margin: 1rem 0;
}

.enroll_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 12px;
  color: #2b788b;
  /* width: 86px; */
  font-weight: 600;
  height: 40px;
  background: #c3dce3;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 1.3rem;
}
.enroll_btn:hover {
  background: #2b788b;
  color: #ffffff;
}

.blackText {
  color: black;
  font-weight: 600;
}
